.nav-bar {
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
}

.nav-Links:hover {
  filter: invert(1);
  transition: 0.22s ease-in-out;
}

@media (max-width: 1080px) {

  .nav-heading,
  .nav-ul {
    flex: 1;
  }

  .nav-ul {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .nav-heading {
    font-size: 28px;
    flex: 2;
  }

  .nav-ul img {
    width: 40px;
  }
}

@media (max-width: 480px) {
  .nav-heading {
    font-size: 22px;
    flex: 1;
  }
}